<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FilmProjeOrnek</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>com.servlets.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/filmler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmAyrintiServlet</display-name>
    <servlet-name>FilmAyrintiServlet</servlet-name>
    <servlet-class>com.servlets.FilmAyrintiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmAyrintiServlet</servlet-name>
    <url-pattern>/filmdetay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriEkleServlet</display-name>
    <servlet-name>FavoriEkleServlet</servlet-name>
    <servlet-class>com.servlets.FavoriEkleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriEkleServlet</servlet-name>
    <url-pattern>/favoriekle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GirisServlet</display-name>
    <servlet-name>GirisServlet</servlet-name>
    <servlet-class>com.servlets.GirisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GirisServlet</servlet-name>
    <url-pattern>/giris</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UyeCikisServlet</display-name>
    <servlet-name>UyeCikisServlet</servlet-name>
    <servlet-class>com.servlets.UyeCikisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UyeCikisServlet</servlet-name>
    <url-pattern>/uyecikis</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GuvenlikFiltresi</display-name>
    <filter-name>GuvenlikFiltresi</filter-name>
    <filter-class>com.filters.GuvenlikFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuvenlikFiltresi</filter-name>
    <url-pattern>/guvenli/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.listeners.UygulamaDinleyici</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>KayitServlet</display-name>
    <servlet-name>KayitServlet</servlet-name>
    <servlet-class>com.servlets.KayitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KayitServlet</servlet-name>
    <url-pattern>/kayit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KullaniciSilServlet</display-name>
    <servlet-name>KullaniciSilServlet</servlet-name>
    <servlet-class>com.servlets.KullaniciSilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KullaniciSilServlet</servlet-name>
    <url-pattern>/guvenli/hesapsil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmEkleServlet</display-name>
    <servlet-name>FilmEkleServlet</servlet-name>
    <servlet-class>com.servlets.FilmEkleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmEkleServlet</servlet-name>
    <url-pattern>/filmekle</url-pattern>
  </servlet-mapping>
</web-app>